    <!-- Footer section -->
    <footer>
    <e-section background-color="lightblue" section-border="light-bottom" class="text-sm">
      <div class="section-container padding-y-md">
        <div class="flex justify-start justify-between@sm flex-gap-xxl flex-wrap">
          <div>
            <p class="text-bold">Elekter</p>
            <p class="margin-bottom-md">
              <a href="#" class="nav-link">Leping ja paketid</a> <br />
              <a href="#" class="nav-link">Elektritööd</a>
            </p>
            <p class="text-bold">Gaas</p>
            <p>
              <a href="#" class="nav-link">Leping ja paketid</a> <br />
              <a href="#" class="nav-link">Seadmete hooldus</a>
            </p>
          </div>
          <div>
            <p class="text-bold">Taastuvenergia</p>
            <p class="margin-bottom-md">
              <a href="#" class="nav-link">Päikesepaneelid</a> <br />
              <a href="#" class="nav-link">Roheline energia</a> <br />
              <a href="#" class="nav-link">Tooda elektrit ise</a>
            </p>
            <p class="text-bold">Energia tooted</p>
            <p>
              <a href="#" class="nav-link">Päikesepaneelid</a> <br />
              <a href="#" class="nav-link">Energiamärgis</a> <br />
              <a href="#" class="nav-link">Energiaaudit</a> <br />
              <a href="#" class="nav-link">Termoülevaatus</a>
            </p>
          </div>
          <div>
            <p class="text-bold">Tark kodu</p>
            <p class="margin-bottom-md">
              <a href="#" class="nav-link">Mobiiliäpp</a> <br />
              <a href="#" class="nav-link">Energiasääst</a>
            </p>
            <p class="text-bold">Veel</p>
            <p>
              <a href="#" class="nav-link">Abi</a> <br />
              <a href="#" class="nav-link">Uudised</a> <br />
              <a href="#" class="nav-link">Blogi</a> <br />
              <a href="#" class="nav-link">Pressile</a> <br />
              <a href="#" class="nav-link">Turuülevaated</a>
            </p>
          </div>
          <div>
            <p class="text-bold">Ettevõttest</p>
            <p>
              <a href="#" class="nav-link">Tutvustus</a> <br />
              <a href="#" class="nav-link">Struktuur</a> <br />
              <a href="#" class="nav-link">Investorile</a> <br />
              <a href="#" class="nav-link">Keskkond</a> <br />
              <a href="#" class="nav-link">Tehnoloogia</a> <br />
              <a href="#" class="nav-link">Ühiskondlik tegevus</a> <br />
              <a href="#" class="nav-link">Hanked ja kinnisvara</a> <br />
              <a href="#" class="nav-link">Aastaaruanded</a> <br />
              <a href="#" class="nav-link">Partnerile</a> <br />
              <a href="#" class="nav-link">Kontaktid</a>
            </p>
          </div>
          <div>
            <p class="text-bold">Iseteenindus</p>
            <p>
              <a href="#" class="nav-link">Arved</a> <br />
              <a href="#" class="nav-link">Lepingud</a> <br />
              <a href="#" class="nav-link">Tarbimisajalugu</a> <br />
              <a href="#" class="nav-link">Volitused</a> <br />
              <a href="#" class="nav-link">Näidud</a> <br />
              <a href="#" class="nav-link">Minu konto</a>
            </p>
          </div>
        </div>
      </div>
    </e-section>

    <e-section background-color="lightblue" class="text-sm">
      <div class="section-container flex flex-column flex-row@sm flex-gap-xs padding-y-xs">
        <div class="flex items-center flex-center flex-start@sm">
          <p class="no-margin-bottom">
            <span class="text-bold margin-right-sm">Erakliendi teenindus</span>
            <span class="margin-right-sm">7771545(E-R 8-18)</span> <a href="#">teenindus@energia.ee</a>
          </p>
        </div>
        <div class="flex margin-x-auto items-center">
          <p class="no-margin-bottom">
            <span class="text-bold margin-right-sm">Ärikliendi teenindus</span>
            <span class="margin-right-sm">7772020(E-R 9-17)</span> <a href="#">arikliendid@energia.ee</a>
          </p>
        </div>
        <div class="flex justify-center items-center items-end@sm">
          <e-button-group nowrap>
            <e-button color="facebook" size="sm" icon-button href="#" type="link">
              <e-icon icon="facebook"></e-icon>
            </e-button>
            <e-button color="linkedin" size="sm" icon-button href="#" type="link">
              <e-icon icon="linkedin"></e-icon>
            </e-button>
            <e-button color="instagram" size="sm" icon-button href="#" type="link">
              <e-icon icon="instagram"></e-icon>
            </e-button>
          </e-button-group>
        </div>
      </div>
    </e-section>

    <div class="text-center color-contrast-higher margin-y-sm">
      <e-logo logo="enefit-horizontal-color"></e-logo>
      <p class="text-sm text-center width-100%">
        © 2019 Eesti Energia AS. Kõik õigused kaitstud.
      </p>
    </div>
  </footer>
