<e-section background-color="lightblue">
  <div class="section-container padding-y-lg">
  <h2 class="text-center margin-bottom-md">
  Neli valdkonda, millele keskendume
  </h2>
    <div class="grid grid-gap-md">
      <div class="col-6@sm col-3@lg">
        <e-card
          has-image
          image="https://www.enefit.lv/en/dam/jcr:9a84ce19-3607-47e1-b477-7d0358cf35d5/reduce_electricity.2019-06-03-16-04-09.jpg"
        >
        <div class="card--text-content">
          <h4>
            Haridus ja innovatsioon
          </h4>
          <p class="margin-bottom-md">
            daily expenses are growing accordingly, thus making us seek more actively ways to save without losing the
            usual comfort. At the same time, there is always a question – how much energy do we “let go through the
            chimney” due to inefficient household management?
          </p>
          <e-button color="gray">Toetatud projektid</e-button>
          </div>
        </e-card>
      </div>
      <div class="col-6@sm col-3@lg">
        <e-card
          has-image
          image="https://www.enefit.lv/en/dam/jcr:9a84ce19-3607-47e1-b477-7d0358cf35d5/reduce_electricity.2019-06-03-16-04-09.jpg"
        >
        <div class="card--text-content">
          <h4>
            Haridus ja innovatsioon
          </h4>
          <p class="margin-bottom-md">
            daily expenses are growing accordingly, thus making us seek more actively ways to save without losing the
            usual comfort.
          </p>
          <e-button color="gray">Toetatud projektid</e-button>
          </div>
        </e-card>
      </div>
      <div class="col-6@sm col-3@lg">
        <e-card
          has-image
          image="https://www.enefit.lv/en/dam/jcr:9a84ce19-3607-47e1-b477-7d0358cf35d5/reduce_electricity.2019-06-03-16-04-09.jpg"
        >
        <div class="card--text-content">
          <h4>
            Haridus ja innovatsioon
          </h4>
          <p class="margin-bottom-md">
            daily expenses are growing accordingly, thus making us seek more actively ways to save without losing the
            usual comfort. At the same time, there is always a question – how much energy do we “let go through the
            chimney” due to inefficient household management?
          </p>
          <e-button color="gray">Toetatud projektid</e-button>
          </div>
        </e-card>
      </div>
      <div class="col-6@sm col-3@lg">
        <e-card
          has-image
          image="https://www.enefit.lv/en/dam/jcr:9a84ce19-3607-47e1-b477-7d0358cf35d5/reduce_electricity.2019-06-03-16-04-09.jpg"
        >
        <div class="card--text-content">
          <h4>
            Haridus ja innovatsioon
          </h4>
          <p class="margin-bottom-md">
            daily expenses are growing accordingly, thus making us seek more actively ways to save without losing the
            usual comfort. At the same time, there is always a question – how much energy do we “let go through the
            chimney” due to inefficient household management?
          </p>
          <e-button color="gray">Toetatud projektid</e-button>
          </div>
        </e-card>
      </div>
    </div>
    </div>
  </e-section>
